<p class="terms">{{ terms.conditionsText }} <a href="{{ terms.termsOfServiceUrl }}">{{ terms.termsOfServiceText }}</a> &amp; <a href="{{ terms.privacyPolicyUrl }}">{{ terms.privacyPolicyText }}</a>.</p>
