<section class="terms">
  <p class="terms__text">{{ terms.conditionsText }} <a class="terms__link" href="{{ terms.termsOfServiceUrl }}">{{ terms.termsOfServiceText }}</a> &amp; <a class="terms__link" href="{{ terms.privacyPolicyUrl }}">{{ terms.privacyPolicyText }}</a>.</p>
</section>
