<footer class="footer">
  <div class="footer__inner">
    <ul class="colophon__list">
        <li class="colophon__item"><a data-link-name="help" href="http://www.theguardian.com/help/identity-faq">
          {{footerText.help}}</a></li>
        <li class="colophon__item"><a data-link-name="terms" href="http://www.theguardian.com/help/terms-of-service">
          {{footerText.terms}}</a></li>
        <li class="colophon__item"><a data-link-name="uk : footer : contact us" href="http://www.theguardian.com/help/contact-us">
          {{footerText.contact}}</a>
        </li>
        <li class="colophon__item"><a data-link-name="privacy" href="https://www.theguardian.com/info/privacy">
          {{footerText.privacy}}</a></li>
        <li class="colophon__item">
            <a data-link-name="tech feedback" class="js-tech-feedback-report" href="https://www.theguardian.com/info/tech-feedback">
              {{footerText.techFeedback}}
            </a>
        </li>
        <li class="colophon__item"><a data-link-name="cookie" href="https://www.theguardian.com/info/cookies">{{footerText.cookies}}</a></li>
    </ul>
    <p class="footer__copyright">{{footerText.copyright}}</p>
  </div>

</footer>
