<footer class="footer">
  <div class="footer__inner">
    <ul class="colophon__list">
      <li class="colophon__item"><a data-link-name="uk : footer : membership" href="https://membership.theguardian.com/?INTCMP=NGW_FOOTER_UK_GU_MEMBERSHIP">
          {{footerText.membership}}</a>
      </li>
      <li class="colophon__item"><a data-link-name="uk : footer : jobs" href="http://jobs.theguardian.com/?INTCMP=NGW_FOOTER_UK_GU_JOBS">
        {{footerText.jobs}}</a>
      </li>
      <li class="colophon__item"><a data-link-name="uk : footer : soulmates" href="https://soulmates.theguardian.com/?INTCMP=NGW_FOOTER_UK_GU_SOULMATES">
        {{footerText.dating}}</a>
      </li>
      <li class="colophon__item"><a data-link-name="uk : footer : masterclasses" href="http://www.theguardian.com/guardian-masterclasses?INTCMP=NGW_FOOTER_UK_GU_MASTERCLASSES">
        {{footerText.masterclasses}}</a>
      </li>
      <li class="colophon__item"><a data-link-name="uk : footer : guardian labs" href="http://www.theguardian.com/guardian-labs">
        {{footerText.labs}}</a>
      </li>
      <li class="colophon__item"><a data-link-name="uk : footer : subscribe" href="http://subscribe.theguardian.com/?INTCMP=NGW_FOOTER_UK_GU_SUBSCRIBE">
        {{footerText.subscribe}}</a>
      </li>
      <li class="colophon__item"><a data-link-name="all topics" href="http://www.theguardian.com/index/subjects/a">
        {{footerText.topics}}</a>
      </li>
      <li class="colophon__item"><a data-link-name="all contributors" href="http://www.theguardian.com/index/contributors">
        {{footerText.contributors}}</a>
      </li>
      <li class="colophon__item"><a data-link-name="uk : footer : about us" href="https://www.theguardian.com/info">
        {{footerText.about}}</a>
      </li>
      <li class="colophon__item"><a data-link-name="uk : footer : contact us" href="http://www.theguardian.com/help/contact-us">
        {{footerText.contact}}</a>
      </li>
      <li class="colophon__item">
          <a data-link-name="tech feedback" class="js-tech-feedback-report" href="https://www.theguardian.com/info/tech-feedback">
            {{footerText.techFeedback}}
          </a>
      </li>
      <li class="colophon__item"><a data-link-name="complaints" href="https://www.theguardian.com/info/complaints-and-corrections">
        {{footerText.complaints}}</a></li>
      <li class="colophon__item"><a data-link-name="terms" href="http://www.theguardian.com/help/terms-of-service">
        {{footerText.terms}}</a></li>
      <li class="colophon__item"><a data-link-name="privacy" href="https://www.theguardian.com/info/privacy">
        {{footerText.privacy}}</a></li>
      <li class="colophon__item"><a data-link-name="cookie" href="https://www.theguardian.com/info/cookies">cookie policy</a></li>
      <li class="colophon__item"><a data-link-name="securedrop" href="https://securedrop.theguardian.com/">
        {{footerText.secureDrop}}</a></li>
    </ul>

    <p class="footer__copyright">{{footerText.copyright}}</p>
  </div>

</footer>
