{{# partial "pageTitle" }}{{ text.pageTitle }}{{/ partial }}


{{# partial "content" }}
  <h1 class="page-heading">{{ text.title }}</h1>
  <section class="page-content">

    {{#each errors}}
      <p id="{{id}}" class="reset-password-form__error">{{message}}</p>

      {{else}}
      <p class="resend-consent__text">{{ text.description }}</p>

      <form id="resend-token-form" class="resend-consent-form" action="resend-consent" method="POST">
        <input type="hidden" name="token" value="{{ token }}">
        <input type="hidden" name="{{ csrfToken.fieldName }}" value="{{ csrfToken.value }}">

        <div class="resend-consent-form__control--submit">
          <button class="resend-consent-form__submit-button" id="resend-consent_submit" type="submit">Resend link {{> components/icon/arrow-inline }}</button>
        </div>

      </form>
    {{/each}}

  </section>
{{/partial}}
{{> layout}}
