<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{# block "pageTitle" }}{{/ block }} | {{ layout.text.layoutPageTitle }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {{> components/favicons/_favicons }}

  {{#each resources}}

    {{#isCSS}}
      <link href="{{ url }}" type="text/css" rel="stylesheet">
    {{/isCSS}}

    {{#isJavascript}}
      {{#isInHead}}

        {{#isInline}}
          <script type="text/javascript">{{{ source }}}</script>
        {{/isInline}}

        {{^isInline}}
          <script src="{{ url }}" type="text/javascript" async></script>
        {{/isInline}}

      {{/isInHead}}
    {{/isJavascript}}

    {{# isJSON }}
      {{# isInHead }}
        <script id="{{ id }}" type="application/json">{{{ source }}}</script>
      {{/ isInHead }}
    {{/ isJSON }}

  {{/each}}

</head>
<body class="{{ layout.skin }}">
  <a href="#main-content" class="layout-skip-link">{{ layout.text.skipToContent }}</a>
  {{> components/header/_header }}

  <main id="main-content" role="main" tabindex="-1">
    {{#block "content" }}{{/block}}
  </main>

  {{> components/footer/_footer }}

  {{#each layout.resources}}
    {{#isJavascript}}
      {{^isInHead}}
        <script src="{{ url }}" type="text/javascript"></script>
      {{/isInHead}}
    {{/isJavascript}}
  {{/each}}
</body>
</html>
