<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ signInPageText.pageTitle }} {{layoutText.layoutPageTitle}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {{> components/favicons/_favicons }}

  <script type="text/javascript">{{{ inlineJsConfig.source }}}</script>

  {{#each styles}}
    <link href="{{ this }}" type="text/css" rel="stylesheet">
  {{/each}}
</head>
<body>
  {{> components/header/_header }}

  <div class="content">
    {{#block "content" }}{{/block}}
  </div>

  {{> components/footer/_footer }}

  {{#each javascripts}}
    <script src="{{ this }}" type="text/javascript" async></script>
  {{/each}}
</body>
</html>
