<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{# block "pageTitle" }}{{/ block }} | {{ layout.text.layoutPageTitle }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {{> components/favicons/_favicons }}

  {{#each resources}}

    {{#isCSS}}
      <link href="{{ url }}" type="text/css" rel="stylesheet">
    {{/isCSS}}

    {{#isJavascript}}
      {{#isInHead}}

        {{#isInline}}
          <script type="text/javascript">{{{ source }}}</script>
        {{/isInline}}

        {{^isInline}}
          <script src="{{ url }}" type="text/javascript" async></script>
        {{/isInline}}

      {{/isInHead}}
    {{/isJavascript}}

  {{/each}}

</head>
<body>
  {{> components/header/_header }}

  <div class="content">
    {{#block "content" }}{{/block}}
  </div>

  {{> components/footer/_footer }}

  {{#each layout.resources}}
    {{#isJavascript}}
      {{^isInHead}}
        <script src="{{ url }}" type="text/javascript" async></script>
      {{/isInHead}}
    {{/isJavascript}}
  {{/each}}
</body>
</html>
