{{# partial "pageTitle" }}{{ signInPageText.pageTitle }}{{/ partial }}

{{# partial "content" }}

  {{#showPrelude}}
    <div class="signin__prelude">
      <p>{{signInPageText.prelude}}</p>
      <p> {{signInPageText.preludeMoreInfo}} <a href="https://www.theguardian.com/help/identity-faq"> {{signInPageText.preludeFaq}} </a>.</p>
    </div>
  {{/showPrelude}}

  <h1 class="page-heading">{{ signInPageText.title }}</h1>

  <section class="page-standfirst">
    <p class="page-standfirst__paragraph">{{signInPageText.noAccount}} <a href="{{registerUrl}}" >{{signInPageText.signUp}}</a>.</p>
  </section>

  <section>

    <div class="sts-container">
      {{> components/sts/sts-existing }}
    </div>

  </section>

{{/partial}}

{{> layout}}
