{{# partial "pageTitle" }}{{ registerConfirmationPageText.pageTitle }}{{/ partial }}

{{# partial "content" }}

  <h1 class="page-heading">{{ registerConfirmationPageText.title }}</h1>

  <section class="page-standfirst">
    <p class="page-standfirst__paragraph">{{ registerConfirmationPageText.instruction }}</p>
  </section>

  <section class="register-confirm">
    <a class="register-confirm__complete-registration-button" href="{{returnUrl}}">
      {{registerConfirmationPageText.completeRegistration}}
    </a>

    <ul class="register-confirm__nav-bar">
        <li class="register-confirm__nav-bar-item"><a class="register-confirm__nav-bar-item-link" href="{{faqUrl}}">{{registerConfirmationPageText.faq}}</a></li>
        <li class="register-confirm__nav-bar-item"><a class="register-confirm__nav-bar-item-link" href="{{emailUserHelpUrl}}">{{registerConfirmationPageText.emailUserhelp}}</a></li>
        <li class="register-confirm__nav-bar-item"><a class="register-confirm__nav-bar-item-link" href="{{resetPasswordUrl}}">{{registerConfirmationPageText.resetPassword}}</a></li>
        <li class="register-confirm__nav-bar-item"><a class="register-confirm__nav-bar-item-link" href="{{signOutUrl}}">{{registerConfirmationPageText.signOut}}</a></li>
    </ul>
  </section>
{{/partial}}
{{> layout}}
