{{# partial "pageTitle" }}{{ registerPageText.pageTitle }}{{/ partial }}

{{# partial "content" }}

    <h1 class="page-heading{{# showStandfirst }}--with-standfirst{{/ showStandfirst }}">{{ registerPageText.title }}</h1>

  {{# showStandfirst }}
    <section class="page-standfirst">
      <p class="page-standfirst__paragraph">{{ registerPageText.standfirst }}</p>
    </section>
  {{/ showStandfirst }}

  <section class="register__section">
    {{> components/oauth-cta/_oauth-cta }}

    {{> components/register-form/_register-form }}
  </section>

  <section class="register__cta-section">
    <p class="register__cta--sign-in">{{ registerPageText.signInCta }} <a class="register__cta-link--sign-in" href="{{ links.signIn }}">{{ registerPageText.signIn }}</a></p>
  </section>

  {{> components/terms/_terms }}

{{/ partial }}

{{> layout}}
