{{# partial "pageTitle" }}{{ resetPasswordEmailSentText.pageTitle }}{{/ partial }}


{{# partial "content" }}

  <section class="layout-wrap-width">

    <section class="layout-header">
      <h1 class="layout-header__title">{{ resetPasswordEmailSentText.title }}</h1>
    </section>

    <p class="layout-text">{{ resetPasswordEmailSentText.instructions1 }}</p>
    <p class="layout-text">{{ resetPasswordEmailSentText.instructions2 }}</p>
    <p class="layout-text">{{ resetPasswordEmailSentText.instructions3 }}</p>
    <p class="layout-text"><strong>{{ resetPasswordEmailSentText.instructions4 }}</strong></p>

  </section>

{{/partial}}
{{> layout}}
