{{# partial "pageTitle" }}{{ resetPasswordText.pageTitle }}{{/ partial }}


{{# partial "content" }}
  <h1 class="reset-password__heading">{{ resetPasswordText.title }}</h1>
  <p class="reset-password__subtitle">{{ resetPasswordText.subtitle }}</p>

  <form id="reset-password-form" class="reset-password-form" method="POST">

    <fieldset class="reset-password-form__fieldset">

      {{#each errors}}
          <p id="{{id}}" class="reset-password-form__error">{{message}}</p>
      {{/each}}

      <div class="reset-password-form__control--email">
        <label class="reset-password-form__label--email" for="reset-password_field_email">{{resetPasswordText.emailAddressField }}</label>
        <input class="reset-password-form__field--email" id="reset-password_field_email" type="email" name="email" autocomplete="on" autocapitalize="off" autocorrect="off" spellcheck="false" value="{{resetPasswordText.emailAddressField}}"/>
      </div>

      <div class="reset-password-form__control--submit">
        <button class="reset-password-form__submit-button" id="reset-password_submit" type="submit">{{resetPasswordText.button}}</button>
      </div>

    </fieldset>
  </form>

  <h3 class="reset-password__secondary_heading">{{ resetPasswordText.socialNetworksTitle }}<h3>
  <p class="reset-password__text">{{ resetPasswordText.socialNetworksContent }}<p>
  <h3 class="reset-password__secondary_heading">{{ resetPasswordText.userHelpTitle }}</h3>
  <p class="reset-password__text"><a href="mailto:{{ userHelpEmailAddress }}">{{ resetPasswordText.userHelpEmail }}</a> {{ resetPasswordText.userHelpContent }}</p>
{{/partial}}
{{> layout}}
