{{# partial "pageTitle" }}{{ resendConsentLinkEmailSentText.pageTitle }}{{/ partial }}

{{# partial "content" }}

  {{# unless errors}}
    <h1 class="page-heading">{{ resendConsentLinkEmailSentText.title }}</h1>
    <section class="page-standfirst">
      <p class="page-standfirst__paragraph">{{resendConsentLinkEmailSentText.description}}</p>
    </section>
  {{/unless}}

  <section class="page-content">
  {{#each errors}}
    <p id="{{id}}" class="resend-consent-form__error">{{message}}</p>
  {{/each}}
    <p class="resend-consent__details resend-consent__text">{{{ resendConsentLinkEmailSentText.info }}}</p>
  </section>

{{/partial}}
{{> layout}}
