{{# partial "pageTitle" }}{{ resendLinkEmailSentText.pageTitle }}{{/ partial }}

{{# partial "content" }}

  {{# unless errors}}
    <h1 class="page-heading">{{ resendLinkEmailSentText.title }}</h1>
    <section class="page-standfirst">
      <p class="page-standfirst__paragraph resend-link-description">{{resendLinkEmailSentText.description}}</p>
    </section>
  {{/unless}}

  <section class="page-content">
  {{#each errors}}
    <p id="{{id}}" class="resend-consent-form__error">{{message}}</p>
  {{/each}}
  </section>

{{/partial}}
{{> layout}}
