{{# partial "pageTitle" }}{{ sendSignInLinkText.pageTitle }}{{/ partial }}


{{# partial "content" }}
  <section class="layout-wrap-width">

    <div class="ajax-step-flow"><div class="ajax-step-flow__slide">

      <section class="layout-header">
        <h1 class="layout-header__title">{{ sendSignInLinkText.title }}</h1>
      </section>

      {{> components/form/form-feedback-wrap }}

      <form method="POST" action="{{ actions.submit }}">

        <input type="hidden" name="{{ csrfToken.fieldName }}" value="{{ csrfToken.value }}">

        <div class="form-field-wrap">
          <label class="form-field-wrap__title" for="signin_field_email">{{sendSignInLinkText.emailInput}}</label>
          <input class="form-input form-field-wrap__field" type="email" name="email" autocomplete="email" autocapitalize="off" autocorrect="off" spellcheck="false" autofocus />
        </div>
        <div class="form-field-wrap">
          <button class="form-button form-button--main form-field-wrap__field" type="submit">{{sendSignInLinkText.submitAction}} {{> components/icon/arrow-inline }}</button>
        </div>

      </form>

    </div></div>

  </section>
{{/partial}}
{{> layout}}
