{{# partial "pageTitle" }}{{ sendSignInLinkSentText.pageTitle }}{{/ partial }}


{{# partial "content" }}
  <section class="layout-wrap-width">

    <section class="layout-header">
      <h1 class="layout-header__title">{{ sendSignInLinkSentText.title }}</h1>
    </section>

    <div class="form-field-wrap">
      <p class="form-field-wrap__field form-text">{{ sendSignInLinkSentText.text }}</p>
      <a class="form-button form-button--secondary form-field-wrap__field" href="{{actions.returnUrl}}">{{sendSignInLinkSentText.cta}} {{> components/icon/arrow-inline }}</a>
    </div>

  </section>
{{/partial}}
{{> layout}}
