{{# partial "content" }}

  <h1 class="signin__heading">{{ signInPageText.title }}</h1>

  {{> components/oauth-cta/_oauth-cta }}

  <a class="signin_form__show-toggle" id="signin_form_show" name="signin_form_show"></a>

  {{^ hasErrors }}
    <div class="signin__cta--email">
      <a class="signin-cta-link--email" id="signin_cta_email" href="#signin_form_show">{{signInPageText.signInWithEmail}}</a>
    </div>
  {{/ hasErrors }}

  <form id="signin_form" class="signin-form{{# hasErrors }}--with-errors{{/ hasErrors }}" action="{{ actions.signIn }}" method="POST">
    <input type="hidden" name="returnUrl" value="{{returnUrl}}">
    <input type="hidden" name="skipConfirmation" value="{{skipConfirmation}}">
    <p class="signin-form__prelude">{{signInPageText.divideText}}</p>

    <fieldset class="signin-form__fieldset">

      {{#each errors}}
          <p id="{{id}}" class="signin-form__error">{{message}}</p>
      {{/each}}

      <div class="signin-form__control--email">
        <label class="signin-form__label--email" for="signin_field_email">{{signInPageText.email}}</label>
        <input class="signin-form__field--email" id="signin_field_email" type="email" name="email" autocomplete="on" autocapitalize="off" autocorrect="off" spellcheck="false" value="{{email}}"/>
      </div>
      <div class="signin-form__control--password">
        <label class="signin-form__label--password" for="signin_field_password">{{signInPageText.password}}</label>
        <input class="signin-form__field--password" id="signin_field_password" type="password" name="password" />
      </div>
      <div class="signin-form__cta--reset"><a href="{{forgotPasswordUrl}}">{{signInPageText.forgottenPassword}}</a></div>

      <div class="signin-form__control--remember-me">
        <input class="signin-form__checkbox--remember-me" id="signin_field_remember_me" type="checkbox" name="keepMeSignedIn" checked="checked" value="true"/>
        <label class="signin-form__label--remember" for="signin_field_remember_me" tabindex="0">{{signInPageText.rememberMe}}</label>
      </div>
      <div class="signin-form__control--submit">
        <button class="signin-form__submit-button" id="signin_submit" type="submit">{{signInPageText.signIn}}</button>
      </div>

    </fieldset>
  </form>

  <div class="signin__epilogue">
    <p class="signin-form__cta--signup"> {{signInPageText.noAccount}} <a id="register_cta" href="{{registerUrl}}" > {{signInPageText.signUp}} </a>.</p>

    <p class="signin-form__terms">{{signInPageText.conditions}} <a href="http://www.theguardian.com/help/terms-of-service">{{signInPageText.termsOfService}}</a> &amp; <a href="http://www.theguardian.com/help/privacy-policy">{{signInPageText.privacyPolicy}}</a>.</p>
  </div>

{{/partial}}

{{> layout}}
