{{# partial "pageTitle" }}{{ tsAndCsPageText.pageTitle }}{{/ partial }}

{{# partial "content" }}

  <h1 class="page-heading--with-standfirst">{{tsAndCsPageText.baseText.title}}</h1>

  <section class="page-standfirst">
      <p class="page-standfirst__paragraph">{{tsAndCsPageText.baseText.explanationText}}</p>
  </section>

  <section class="third-party-ts-and-cs">
    <ul>
    {{#each tsAndCsPageText.features}}
      <li>{{this}}</li>
    {{/each}}
    </ul>
  </section>

  <section class="third-party-ts-and-cs">
    <form method="POST" action="{{continueFormUrl}}" >
      <input type="hidden" name="groupCode" value="{{ groupCode }}">
      <input type="hidden" name="returnUrl" value="{{returnUrl}}">
      <button class="third-party-ts-and-cs__confirm-agree">{{tsAndCsPageText.baseText.continueButtonText}}</button>
    </form>
  </section>

  <section class="third-party-ts-and-cs">
      <p class="third-party-terms__text">
        {{ tsAndCsPageText.baseText.termsText }}
        <a class="third-party-terms__link" href="{{ tsAndCsPageText.termsOfServiceLink }}">{{ tsAndCsPageText.baseText.termsOfServiceLinkText }}</a> &amp;
        <a class="third-party-terms__link" href="{{ tsAndCsPageText.privacyPolicyLink }}">{{ tsAndCsPageText.baseText.privacyPolicyLinkText }}</a>
      </p>
  </section>

{{/partial}}
{{> layout}}
