{{# partial "pageTitle" }}{{ twoStepSignInPageText.pageTitle }}{{/ partial }}

{{# partial "content" }}

  <section class="layout-wrap-width">

    <section class="layout-header">
      <h1 class="layout-header__title">{{ twoStepSignInPageText.title }}</h1>
      <p class="layout-header__title layout-header__title--standfirst">{{twoStepSignInPageText.noAccount}} <a href="{{registerUrl}}" >{{twoStepSignInPageText.signUp}}</a>.</p>
    </section>

    <section class="two-step-signin-container">
      {{> components/two-step-signin/two-step-signin-email }}
    </section>

    <section class="layout-section">
      {{> components/terms/_terms-inline }}
    </section>

  </section>

{{/partial}}

{{> layout}}
