{{# partial "pageTitle" }}{{ twoStepSignInPageText.pageTitle }}{{/ partial }}

{{# partial "content" }}

  <section class="layout-wrap-width">

    <a class="layout-header" href="{{signinUrl}}" >
      <h1 class="layout-header__title">{{ twoStepSignInPageText.welcome }}</h1>
      <div class="layout-header__title layout-header__title--has-proxy layout-header__title--standfirst">
        <div>{{email}}</div>
        <div class="layout-header__title__proxy">{{twoStepSignInPageText.changeEmailLink}}</div>
      </div>
    </a>

    <section class="two-step-signin-container">
      {{#signInTypes.isExisting}}
        {{> components/two-step-signin/two-step-signin-existing }}
      {{/signInTypes.isExisting}}
      {{#signInTypes.isNew}}
        <h1 class="page-heading">Register for The Guardian</h1>
      {{/signInTypes.isNew}}
      {{#signInTypes.isGuest}}
        <h1 class="page-heading">Set a password</h1>
      {{/signInTypes.isGuest}}
    </section>

    <section class="layout-section">
      {{> components/terms/_terms-inline }}
    </section>

  </section>
{{/partial}}

{{> layout}}
