{{# partial "pageTitle" }}{{ twoStepSignInPageText.pageTitle }}{{/ partial }}

{{# partial "content" }}

  <section class="layout-wrap-width">
    <div class="two-step-signin"><div class="two-step-signin__slide">

      <a class="layout-header" href="{{signinUrl}}" >
        <h1 class="layout-header__title">{{ twoStepSignInPageText.welcome }}</h1>
        <div class="layout-header__title layout-header__title--has-proxy layout-header__title--standfirst">
          <div>{{email}}</div>
          <div class="layout-header__title__proxy">{{twoStepSignInPageText.changeEmailLink}}</div>
        </div>
      </a>

      {{> components/form/form-error-wrap }}

      <section class="two-step-signin-container">
        {{#userTypes.isExisting}}
          {{> components/two-step-signin/two-step-signin-existing }}
        {{/userTypes.isExisting}}
        {{#userTypes.isNew}}
          {{> components/two-step-signin/two-step-signin-new }}
        {{/userTypes.isNew}}
        {{#userTypes.isGuest}}
          {{> components/two-step-signin/two-step-signin-guest }}
        {{/userTypes.isGuest}}
      </section>

      <section class="layout-section">
        {{> components/terms/_terms-inline }}
      </section>

    </div></div>
  </section>
{{/partial}}

{{> layout}}
