{{# partial "pageTitle" }}{{ twoStepSignInPageText.pageTitle }}{{/ partial }}

{{# partial "content" }}

  <section class="layout-wrap-width">
    <div class="smartlock-trigger" data-csrf-token="{{ csrfToken.value }}" data-return-url="{{ returnUrl }}"></div>

    <div class="ajax-step-flow"><div class="ajax-step-flow__slide">

      <section class="layout-header">
        <h1 class="layout-header__title">{{ twoStepSignInPageText.title }}</h1>
      </section>

      {{> components/form/form-feedback-wrap }}

      <section>
        {{> components/two-step-signin/two-step-signin-start }}
      </section>

      <section class="layout-section">
        <p class="terms__text">
          {{twoStepSignInPageText.noAccount}}
          <a clas="terms__link" href="{{registerUrl}}" >{{twoStepSignInPageText.signUp}}</a>.
        </p>
        {{> components/terms/_terms-inline }}
      </section>

      <section class="layout-section">
        <p class="terms__text">
          {{twoStepSignInPageText.noAccount}}
          <a clas="terms__link" href="{{registerUrl}}" >{{twoStepSignInPageText.signUp}}</a>.
        </p>
        {{> components/terms/_terms-inline }}
      </section>

    </div></div>
  </section>

{{/partial}}

{{> layout}}
