{{# partial "pageTitle" }}{{ twoStepSignInPageText.pageTitle }}{{/ partial }}

{{# partial "content" }}

  <section class="layout-wrap-width">
    <div class="smartlock-trigger" data-csrf-token="{{ csrfToken.value }}" data-return-url="{{ returnUrl }}" role="presentation"></div>

    <div class="ajax-step-flow"><div class="ajax-step-flow__slide">

      <header class="layout-header">
        <h1 class="layout-header__title">{{ twoStepSignInPageText.title }}</h1>
      </header>

      {{> components/form/form-feedback-wrap }}

      <section>
        {{> components/two-step-signin/two-step-signin-start }}
      </section>

      <section class="layout-section layout-section--far layout-section--no-border">
        <p class="layout-text layout-text--center">
          {{twoStepSignInPageText.noAccount}}<br/>
          <a class="link" href="{{registerUrl}}" >{{twoStepSignInPageText.signUp}}</a>
        </p>
      </section>

      <footer class="layout-section">
        {{> components/terms/_terms-inline }}
      </footer>

    </div></div>
  </section>

{{/partial}}

{{> layout}}
