<form class="two-step-signin-form" method="POST" action="{{ actions.signInWithEmailAndPassword }}">

  {{> components/two-step-signin/_helpers }}

  <div class="form-field-wrap">
    <label class="form-field-wrap__title" for="signin_field_email">{{twoStepSignInPageText.unknownEmailTitle}}</label>
    <a href="{{registerUrl}}" class="form-button form-field-wrap__field">{{twoStepSignInPageText.registerAction}} {{> components/icon/arrow-inline }}</a>
  </div>

  <div class="layout-section layout-section--no-border">
    <div class="form-field-wrap">
      <a href="{{signinUrl}}" class="form-button form-button--reverse form-button--secondary form-field-wrap__field" type="submit">{{> components/icon/arrow-back }} {{twoStepSignInPageText.changeEmailLink}}</a>
    </div>
  </div>

</form>
