<form class="two-step-signin" method="POST" action="{{ actions.signInSecondStepCurrent }}">

  {{> components/two-step-signin/_email-header }}
  {{> components/two-step-signin/_helpers }}
  {{> components/form/form-feedback-wrap }}

  <div class="form-field-wrap">
      <input class="u-h" name="email" autocomplete="username" value="{{email}}" />
      <label class="form-field-wrap__title" for="tsse-password">{{twoStepSignInPageText.passwordFieldTitle}}</label>
      <input class="form-input form-field-wrap__field" type="password" name="password" id="tsse-password" autocomplete="password" autocapitalize="off" autocorrect="off" spellcheck="false" autofocus value="{{password}}" />
      <div class="u-flexrow form-field-wrap__footer">
        <label class="form-checkbox">
          <input class="form-checkbox__input" type="checkbox" name="rememberMe" checked="checked" value="true"/>
          <span class="form-checkbox__label">{{twoStepSignInPageText.rememberMe}}</span>
        </label>
        <a class="link" href="{{forgotPasswordUrl}}">{{twoStepSignInPageText.recoverPasswordAction}}</a>
      </div>
    </div>
    <div class="form-field-wrap">
      <button class="form-button form-button--main form-field-wrap__field" type="submit">{{twoStepSignInPageText.signInAction}} {{> components/icon/arrow-inline }}</button>
    </div>

    <p class="form-prelude"> <span>{{twoStepSignInPageText.divideText}}</span> </p>

    <fieldset class="form-field-wrap">
      <label class="form-field-wrap__title" for="signin_field_email">{{twoStepSignInPageText.oauthStepTwoFieldTitle}}</label>
      {{> components/oauth-cta/_oauth-cta-content }}
    </fieldset>

</form>
