<form id="register_form" class="register-form" action="{{ actions.register }}" method="POST">

  <input type="hidden" name="{{ csrfToken.fieldName }}" value="{{ csrfToken.value }}">
  <input type="hidden" name="returnUrl" value="{{ returnUrl }}"/>
  <input type="hidden" name="skipConfirmation" value="{{ skipConfirmation }}"/>

  {{# hideDisplayName }}
    <input type="hidden" id="register_field_hideDisplayName" name="hideDisplayName" value="{{ hideDisplayName }}" />
  {{/hideDisplayName}}

  {{# group }}
    <input type="hidden" name="groupCode" value="{{ group.id }}">
  {{/ group }}

  {{# clientId }}
    <input type="hidden" name="clientId" value="{{ clientId.id }}">
  {{/ clientId }}

  <input id="js-ga-client-id" type="hidden" name="gaClientId" value="">

  <p class="register-form__prelude">{{ registerPageText.divideText }}</p>

  {{#each errors.otherErrors }}
    <p id="{{ id }}" class="register-form__error">{{ message }}</p>
  {{/ each }}

  <fieldset class="register-form__fieldset">
    {{> components/register-form/_form-fields}}
    <div class="register-form__control--submit">
      <button class="register-form__submit-button" id="register_submit" type="submit">{{ registerPageText.createAccount }}</button>
    </div>
  </fieldset>
</form>
