<form class="passwordless-signin-form" method="POST" action="{{ actions.signInWithEmailAndPassword }}">

    {{> components/passwordless-signin/_helpers }}

    <div class="passwordless-signin-field-wrap">
      <input class="u-h" type="email" name="email" autocomplete="username" autocapitalize="off" autocorrect="off" spellcheck="false" value="{{email}}" />
      <label class="passwordless-signin-field-wrap__title" for="signin_field_email">Please enter your password</label>
      <input class="passwordless-signin-input passwordless-signin-field-wrap__field" type="password" name="password" autocomplete="password" autocapitalize="off" autocorrect="off" spellcheck="false" value="{{password}}" />
      <div class="u-flexrow passwordless-signin-field-wrap__footer">
        <label class="passwordless-signin-checkbox">
          <input class="passwordless-signin-checkbox__input" type="checkbox" name="rememberMe" checked="checked" value="true"/>
          <span class="passwordless-signin-checkbox__label">{{passwordlessSignInPageText.rememberMe}}</span>
        </label>
        <a class="link" href="{{forgotPasswordUrl}}">{{passwordlessSignInPageText.forgottenPassword}}</a>
      </div>
    </div>
    <div class="passwordless-signin-field-wrap">
      <button class="passwordless-signin-button passwordless-signin-field-wrap__field" type="submit">Sign In {{> components/icon/arrow-inline }}</button>
    </div>

    <aside class="passwordless-signin-form_section">
      <div class="passwordless-signin-field-wrap">
        <p class="passwordless-signin-field-wrap__title">You are signing in as {{email}}</p>
        <a href="/signin" class="passwordless-signin-button passwordless-signin-button--secondary passwordless-signin-field-wrap__field" type>Change email address {{> components/icon/arrow-inline }}</a>
      </div>
    </aside>

</form>
